<ion-header>
  <ion-toolbar>
    <ion-title>Safety Guidelines</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container" style="text-align: center;">
  <h2> SAFETY GUIDELINES  </h2>
  <br>
  <p>
-	Get your RT-PCR test done 72 hours before your travel.<br>
-	Install Aarogya Setu application in your mobile phones.<br>
-	Maintain hygiene and social distancing when required.<br>
-	Carry extra masks and sanitisers.<br>
-	Keep sanitizing your hands at regular intervals.<br>
-	Get Thermal screening done where required.<br>
-	Wear masks and follow social distancing on city excursion days.<br>
  </p>
<br>
<h2> KERELA GUIDELINES </h2>
<p><br>
-	To enter Kerala, visitors require an entry pass that is available on Jagratha portal.<br>
- Visitors need to disclose their purpose of visit, local accommodation details and contact information. <br>
</p>
<br>

<h2> MAHARASHTRA GUIDELINES </h2>
<p>
  -	The concerned District Collectors of land border districts shall make arrangements to ensure that the passengers coming from the NCR Delhi, States of Rajasthan<br> <br>
  - The passengers without symptoms will be allowed entry. Passengers with symptoms shall have the option of turning back and go to their home to recuperate.<br>
  - Passengers who display symptoms shall be segregated and made to undergo Antigen Test. If the Antigen test comes negative, the passengers will be allowed to travel further into Maharashtra.<br>
  - Passengers not testing/found Covid positive shall be sent to Covid Care Centre (CCC) for further care. The cost of further care including CCC shall be borne by the passenger themselves.<br>
</p>
</div>
